<nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-center flex-row w-100">
        <button class="nav-item nav-link active text-white" routerLink="pessoas-list">Pessoas</button>
        <button class="nav-item nav-link active text-white" routerLink="livros-list">Livros</button>
        <button class="nav-item nav-link active text-white" routerLink="carros-list" tabindex="-1" aria-disabled="true">Carros</button>
      </div>
    </div>
  </nav>