p{
    display: flex;
    margin-left: 3px;

}
input{
    display: flex;
    margin-left: 3px;
    margin-bottom: 10px;
    background-color: rgb(225, 237, 249);
}

.primeiro{
    margin-top: 10%;
}

button{
margin-left: 45%;
padding-left: 20px;
padding-right: 20px;
}