<div class="main-content d-flex flex-column align-items-start">

  <div class="table-display mt-4 w-100">


    <table class="table table-primary table-striped  table-sm w-50 table-bordered border-light">
   <thead class="text-white">
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Idade</th>  
        <th>Ação</th>
    </tr>
      </thead>
    <tbody>
        <tr *ngFor="let pessoa of lista; let i = index">
          <td class="table-active">            {{pessoa.id}}            </td>
            <td class="table-active">            {{pessoa.nome}}            </td>
            <td class="table-active">            {{pessoa.idade}}            </td>
            <td class="col-4">
               <button class="btn btn-primary" (click)="editar(modal, pessoa, pessoa.id)">Editar</button> 
               <button class="btn btn-danger ms-2" (click)="deletar(pessoa.id)">Deletar</button>
              </td>

        </tr>
    </tbody>
    
  </table>

      
  <div class="link-path d-flex align-items-center mt-1">
    <button class="button-usersList" (click)="abrirModal(modal)">Nova pessoa</button>

  </div>




  <ng-template #modal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Nova pessoa</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
      ></button>
    </div>
    <div class="modal-body mt-1">
    
      <app-pessoadetails [pessoa]="pessoaSelecionadaParaEdicao" (retorno)="addOuEditarPessoa($event)"></app-pessoadetails>
    
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>


</div>